.footer {
  background-color: $navy;
  color: $white;
  padding: rem-calc(16);
  padding-top: rem-calc(64);
  padding-bottom: rem-calc(32);
  background-image: url("/assets/img/flourish-background.png");
  background-repeat: no-repeat;
  background-position: 180% 100%;

  @include breakpoint(medium up) {
    background-position: 110% 100%;
  }

  @include breakpoint(large up) {
    background-position: 110% 0%;
    background-size: 30%;
  }

  &__links {
    padding-bottom: rem-calc(64);

    ul {
      padding-right: rem-calc(16);
    }
  }

  &__logo {
    display: block;
    margin-bottom: rem-calc(24);
  }

  &__content {
    width: 100%;
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);

    @include breakpoint(medium up) {
      padding-left: rem-calc(48);
      padding-right: rem-calc(48);
    }
  }

  a {
    @extend .small;
    color: $white;
    display: block;
    padding-top: rem-calc(4);
    padding-bottom: rem-calc(4);
  }

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    margin-left: 0;
    display: block;
  }

  &__newsletter-signup {
    &__header {
      margin-bottom: 0;
      color: $electric-light-30
    }

    @include breakpoint(large up) {
      padding-left: rem-calc(64);
    }

    input {
      background-color: transparent;
      color: $white;

      &:focus {
        background-color: transparent;
      }
    }
  }

  &__copyright {
    @extend .extra-small;
    margin-bottom: rem-calc(16);
    border-top: rem-calc(0.5) solid rgba($white, 0.4);
    padding-top: rem-calc(24);
    margin-top: rem-calc(64);

    @include breakpoint(large up) {
      margin-top: rem-calc(128);
    }
  }
}
