@use 'sass:math';

.header {
  // @include xy-grid-container(full);
  @extend %padded-container;
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(16);
  // border-bottom: rem-calc(1) solid lighten($gray-3, 15%);
  border-width: 100%;
  position: relative;
  z-index: 5000;
  transition: all 0.6s ease-out;

  @include breakpoint(medium up) {
    padding-top: rem-calc(32);
    padding-bottom: rem-calc(32);
  }

  &.sticky {
    border-bottom: rem-calc(1) solid transparent;
    border-width: 0%;
  }

  &__wrapper {
    @include xy-grid;
    align-items: center;
    z-index: 500;
  }

  .logo {
    @include xy-cell(8);
    position: relative;
    z-index: 10000;

    @include breakpoint(medium up) {
      @include xy-cell(3);
    }
  }

  .nav {
    @include breakpoint(medium up) {
      @include xy-cell(6);
      @include xy-cell-offset(3);
      text-align: right;
    }

    [role=search] {
      font-size: 120%;
      line-height: 1;
      display: inline-block;
      transform: translateY(20%);
      padding-left: rem-calc(16);
    }

    ul {
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 100;
      padding-left: math.div($global-padding, 3);

      a {
        color: $gray-3;
      }
    }
  }
}

.mobile-search-icon__wrapper {
  @include xy-cell(1);

  a {
    font-size: 120%;
    color: $gray-3;
    transition: color 0.3s ease-out;

    &:hover {
      color: $black;
    }
  }
}

.mobile-menu {
  position: absolute;
  background-color: $white;
  display: flex;
  padding: 10%;
  height: 100vh;
  font-size: 160%;
  font-weight: 100;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  align-items: center;
  justify-content: center;

  a {
    color: $gray-2;
  }
}


// Hamburger menu
$bar-width: rem-calc(28);
$bar-height: rem-calc(1);
$bar-spacing: rem-calc(7);
$bar-color: $gray-3;

.menu-wrapper {
  @include xy-cell(3);
  cursor: pointer;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-top: -4%;
  padding: rem-calc(16);
  padding-right: 0;

  @include breakpoint(medium up) {
    display: none;
  }


  &:hover {
    .hamburger-menu {
      background-color: $black;

      &:before,
      &:after {
        background-color: $black;
      }
    }
  }
}

.mobile-search-icon__wrapper {
  @include breakpoint(medium up) {
    display: none;
  }
}

.hamburger-menu {
  width: $bar-width;
  height: $bar-height;
  position: relative;
  transform: translateY($bar-spacing);
  background-color: $bar-color;
  transition: all 0.3s;
  z-index: 300;

  &:before,
  &:after {
    width: $bar-width;
    height: $bar-height;
    transition: all 0.3s;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: $bar-color;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: $bar-color;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &.animate {
    background: rgba(255, 255, 255, 0);

    &:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      ;
    }

    &:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}

.search-btn {
  transition: transform 0.3s ease-out;
  position: relative;
  z-index: 3000;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}