$base-font-family: "Graphik";
$font-styles: (
  small: (
    xxlarge: (
      font-size: rem-calc(96),
      line-height: 1,
      letter-spacing: -1.8px,
    ),
    xlarge: (
      font-size: rem-calc(77),
      line-height: 1.075,
      letter-spacing: -2px,
    ),
    large: (
      font-size: rem-calc(61),
      line-height: 1.1,
      letter-spacing: -1.8px,
    ),
    h1: (
      font-size: rem-calc(45px),
      line-height: 1.1,
      letter-spacing: -2px,
    ),
    h2: (
      font-size: rem-calc(39),
      line-height: 1.15,
      letter-spacing: -1px,
    ),
    h3: (
      font-size: rem-calc(31),
      line-height: 1.2,
      letter-spacing: -1px,
    ),
    h4: (
      font-size: rem-calc(25px),
      line-height: 1.275,
    ),
    h5: (
      font-size: rem-calc(20px),
      line-height: 1.3,
    ),
    h6: (
      font-size: rem-calc(16px),
      line-height: 1.5,
    ),
    body: (
      font-size: rem-calc(14px),
      line-height: 1.6,
    ),
    small: (
      font-size: rem-calc(12px),
      line-height: 1.6,
    ),
    extra-small: (
      font-size: rem-calc(9px),
      line-height: 1.6,
      letter-spacing: 0.1px,
    ),
    xx-small: (
      font-size: rem-calc(8px),
      line-height: 1.6,
      letter-spacing: 0.1px,
    ),
  ),
  medium: (
    xxlarge: (
      font-size: rem-calc(111),
      line-height: 1,
      letter-spacing: -1.8px,
    ),
    xlarge: (
      font-size: rem-calc(89),
      line-height: 1.075,
      letter-spacing: -2px,
    ),
    large: (
      font-size: rem-calc(71),
      line-height: 1.1,
      letter-spacing: -1.8px,
    ),
    h1: (
      font-size: rem-calc(57px),
      line-height: 1.1,
      letter-spacing: -2px,
    ),
    h2: (
      font-size: rem-calc(45),
      line-height: 1.15,
      letter-spacing: -1px,
    ),
    h3: (
      font-size: rem-calc(36),
      line-height: 1.2,
      letter-spacing: -1px,
    ),
    h4: (
      font-size: rem-calc(29px),
      line-height: 1.275,
    ),
    h5: (
      font-size: rem-calc(23px),
      line-height: 1.3,
    ),
    h6: (
      font-size: rem-calc(18px),
      line-height: 1.5,
    ),
    p: (
      font-size: rem-calc(15px),
      line-height: 1.6,
    ),
    small: (
      font-size: rem-calc(12px),
      line-height: 1.6,
    ),
    extra-small: (
      font-size: rem-calc(10px),
      line-height: 1.6,
      letter-spacing: 0.1px,
    ),
    xx-small: (
      font-size: rem-calc(9px),
      line-height: 1.6,
      letter-spacing: 0.1px,
    ),
  ),
  large: (
    xxlarge: (
      font-size: rem-calc(rem-calc(120)),
      line-height: 1,
      letter-spacing: -3px,
    ),
    xlarge: (
      font-size: rem-calc(96),
      line-height: 1.075,
      letter-spacing: -3px,
    ),
    large: (
      font-size: rem-calc(76),
      line-height: 1.1,
      letter-spacing: -2px,
    ),
    h1: (
      font-size: rem-calc(62px),
      line-height: 1.1,
      letter-spacing: -1.3px,
    ),
    h2: (
      font-size: rem-calc(48),
      line-height: 1.15,
      letter-spacing: -1px,
    ),
    h3: (
      font-size: rem-calc(40),
      line-height: 1.2,
      letter-spacing: -0.75px,
    ),
    h4: (
      font-size: rem-calc(32px),
      line-height: 1.275,
    ),
    h5: (
      font-size: rem-calc(25px),
      line-height: 1.3,
    ),
    h6: (
      font-size: rem-calc(20px),
      line-height: 1.5,
    ),
    p: (
      font-size: rem-calc(16px),
      line-height: 1.6,
    ),
    small: (
      font-size: rem-calc(14px),
      line-height: 1.6,
    ),
    extra-small: (
      font-size: rem-calc(12px),
      line-height: 1.6,
      letter-spacing: 0.2px,
    ),
    xx-small: (
      font-size: rem-calc(10px),
      line-height: 1.6,
      letter-spacing: 0.2px,
    ),
  ),
);

@for $num from 1 to 10 {
  .letter-spacing-#{$num} {
    letter-spacing: rem-calc($num);
  }
}

@each $size, $styles in $font-styles {
  @include breakpoint($size) {
    @each $style, $style-defs in $styles {
      #{$style},
      .#{$style} {
        @each $key, $value in $style-defs {
          #{$key}: $value;
        }
      }
    }
  }
}

// Utility classes
.text-bold {
  font-weight: bold;
}

.text-light {
  font-weight: 300;
}

.text-medium {
  font-weight: 500;
}

.text-normal {
  font-weight: normal;
}
