@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-Medium.woff2') format('woff2'),
      url('/assets/fonts/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-MediumItalic.woff2') format('woff2'),
      url('/assets/fonts/Graphik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-Regular.woff2') format('woff2'),
      url('/assets/fonts/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-RegularItalic.woff2') format('woff2'),
      url('/assets/fonts/Graphik-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
      url('/assets/fonts/Graphik-SemiboldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-Semibold.woff2') format('woff2'),
      url('/assets/fonts/Graphik-Semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

