.grid-container.full.footer
  .footer__content
    .grid-x
      .cell.medium-2.large-2.footer__logo
        img(src="/assets/img/pastor-chris-online-logo-white.svg" alt="Pastor Chris Online")
      .cell.medium-8.medium-offset-1.large-6.grid-x.medium-up-3.footer__links
        - 
          const links = [
            [
              "About", "Watch", "Live", "Teachings", "Q&A With Pastor Chris", "Testimonies", "LoveWorld Praise", "TV Stations / Listings"
            ],
            [
              "Read", "Daily Devotions", "Affirmations", "Blog", "Chronicles of Prophecies", "News & Events", "Foundations", "Future Africa Leaders", "Inner City Missions", "Trauma Care International", "Volunteer Medical Corps", "Bible for All Missions"
            ],
            [
              "Get Involved", "Financial Partnerships", "Become A Prayer Partner", "International School of Ministry", "Apps", "Contact"
            ]
          ]
        for linkRow in links
          ul.cell
            for link in linkRow
              li
                - const l = link.toLowerCase().replace(/ /g, "-")
                a(href=l)= link

      //- .cell.large-auto.footer__newsletter-signup
      //-   h5.footer__newsletter-signup__header Newsletter Signup
      //-   p Get the PastorChris Online newsletter
      //-   form(action="/newsletter-signup" method="POST").grid-x
      //-     .cell: input(type="text" name="full_name" placeholder="Full Name")
      //-     .cell: input(type="email" name="email" placeholder="Email Address")
      //-     .cell: button.button(type="submit" value="Signup") Signup

    .grid-x.footer__copyright
      .cell
        Copyright &copy; PastorChrisOnline 2022. All Rights Reserved