+section("Aspect Ratio")
  .grid-x.medium-up-3.grid-margin.grid-padding-x.grid-padding-y
    .cell
      .aspect-ratio.aspect-ratio--16x9
        .aspect-ratio__content
          img.aspect-ratio__image(src="/assets/img/placeholder-thumb.jpg")
    .cell
      .aspect-ratio.aspect-ratio--16x9.medium-aspect-ratio--3x1.large-aspect-ratio--4x3
        .aspect-ratio__content.align-middle
          img.aspect-ratio__image(src="/assets/img/placeholder-thumb.jpg")
    .cell
      .aspect-ratio.aspect-ratio--16x9.medium-aspect-ratio--3x1.large-aspect-ratio--16x10 
        .aspect-ratio__content.align-middle
          img.aspect-ratio__image(src="/assets/img/placeholder-thumb.jpg")