+section("Buttons")
  h5 Regular Sizes
  .grid-x
    button.button Button Title
    | &nbsp; &nbsp;
    button.button.button--secondary Button Title
    | &nbsp; &nbsp;
    button.button.button--alt Button Title
  br
  h6.subheader Small Sizes
  .grid-x
    button.button.button--small Button Title
    | &nbsp; &nbsp;
    button.button.button--secondary.button--small Button Title
    | &nbsp; &nbsp;
    button.button.button--alt.button--small Button Title
  br
  p.subheader Extra Small Sizes
  .grid-x
    button.button.button--extra-small Button Title
    | &nbsp; &nbsp;
    button.button.button--secondary.button--extra-small Button Title
    | &nbsp; &nbsp;
    button.button.button--alt.button--extra-small Button Title