option(value="afghanistan") Afghanistan
option(value="Åland islands") Åland Islands
option(value="albania") Albania
option(value="algeria") Algeria
option(value="american samoa") American Samoa
option(value="andorra") Andorra
option(value="angola") Angola
option(value="anguilla") Anguilla
option(value="antarctica") Antarctica
option(value="antigua and barbuda") Antigua and Barbuda
option(value="argentina") Argentina
option(value="armenia") Armenia
option(value="aruba") Aruba
option(value="australia") Australia
option(value="austria") Austria
option(value="azerbaijan") Azerbaijan
option(value="bahamas") Bahamas
option(value="bahrain") Bahrain
option(value="bangladesh") Bangladesh
option(value="barbados") Barbados
option(value="belarus") Belarus
option(value="belgium") Belgium
option(value="belize") Belize
option(value="benin") Benin
option(value="bermuda") Bermuda
option(value="bhutan") Bhutan
option(value="bolivia") Bolivia
option(value="bosnia and herzegovina") Bosnia and Herzegovina
option(value="botswana") Botswana
option(value="bouvet island") Bouvet Island
option(value="brazil") Brazil
option(value="british indian ocean territory") British Indian Ocean Territory
option(value="brunei darussalam") Brunei Darussalam
option(value="bulgaria") Bulgaria
option(value="burkina faso") Burkina Faso
option(value="burundi") Burundi
option(value="cambodia") Cambodia
option(value="cameroon") Cameroon
option(value="canada") Canada
option(value="cape verde") Cape Verde
option(value="cayman islands") Cayman Islands
option(value="central african republic") Central African Republic
option(value="chad") Chad
option(value="chile") Chile
option(value="china") China
option(value="christmas island") Christmas Island
option(value="cocos (keeling) islands") Cocos (Keeling) Islands
option(value="colombia") Colombia
option(value="comoros") Comoros
option(value="congo") Congo
option(value="congo drc") Democratic Republic of the Congo
option(value="cook islands") Cook Islands
option(value="costa rica") Costa Rica
option(value="côte d'ivoire") Côte D'Ivoire
option(value="croatia") Croatia
option(value="cuba") Cuba
option(value="cyprus") Cyprus
option(value="czech republic") Czech Republic
option(value="denmark") Denmark
option(value="djibouti") Djibouti
option(value="dominica") Dominica
option(value="dominican republic") Dominican Republic
option(value="ecuador") Ecuador
option(value="egypt") Egypt
option(value="el salvador") El Salvador
option(value="equatorial guinea") Equatorial Guinea
option(value="eritrea") Eritrea
option(value="estonia") Estonia
option(value="ethiopia") Ethiopia
option(value="falkland islands (malvinas)") Falkland Islands (Malvinas)
option(value="faroe islands") Faroe Islands
option(value="fiji") Fiji
option(value="finland") Finland
option(value="france") France
option(value="french guiana") French Guiana
option(value="french polynesia") French Polynesia
option(value="french southern territories") French Southern Territories
option(value="gabon") Gabon
option(value="gambia") Gambia
option(value="georgia") Georgia
option(value="germany") Germany
option(value="ghana") Ghana
option(value="gibraltar") Gibraltar
option(value="greece") Greece
option(value="greenland") Greenland
option(value="grenada") Grenada
option(value="guadeloupe") Guadeloupe
option(value="guam") Guam
option(value="guatemala") Guatemala
option(value="guernsey") Guernsey
option(value="guinea") Guinea
option(value="guinea-bissau") Guinea-Bissau
option(value="guyana") Guyana
option(value="haiti") Haiti
option(value="heard island and mcdonald islands") Heard Island and Mcdonald Islands
option(value="vatican") Holy See (Vatican)
option(value="honduras") Honduras
option(value="hong kong") Hong Kong
option(value="hungary") Hungary
option(value="iceland") Iceland
option(value="india") India
option(value="indonesia") Indonesia
option(value="iran") Iran
option(value="iraq") Iraq
option(value="ireland") Ireland
option(value="isle of man") Isle of Man
option(value="israel") Israel 
option(value="italy") Italy
option(value="jamaica") Jamaica
option(value="japan") Japan
option(value="jersey") Jersey
option(value="jordan") Jordan
option(value="kazakhstan") Kazakhstan
option(value="kenya") Kenya
option(value="kiribati") Kiribati
option(value="democratic people's republic of korea") Korea Republic
option(value="republic of korea") Republic of Korea
option(value="kuwait") Kuwait
option(value="kyrgyzstan") Kyrgyzstan
option(value="lao people's democratic republic") Lao People's Democratic Republic
option(value="latvia") Latvia
option(value="lebanon") Lebanon
option(value="lesotho") Lesotho
option(value="liberia") Liberia
option(value="libya") Libya
option(value="liechtenstein") Liechtenstein
option(value="lithuania") Lithuania
option(value="luxembourg") Luxembourg
option(value="macao") Macao
option(value="macedonia") Macedonia
option(value="madagascar") Madagascar
option(value="malawi") Malawi
option(value="malaysia") Malaysia
option(value="maldives") Maldives
option(value="mali") Mali
option(value="malta") Malta
option(value="marshall islands") Marshall Islands
option(value="martinique") Martinique
option(value="mauritania") Mauritania
option(value="mauritius") Mauritius
option(value="mayotte") Mayotte
option(value="mexico") Mexico
option(value="micronesia") Micronesia
option(value="moldova") Moldova
option(value="monaco") Monaco
option(value="mongolia") Mongolia
option(value="montenegro") Montenegro
option(value="montserrat") Montserrat
option(value="morocco") Morocco
option(value="mozambique") Mozambique
option(value="myanmar") Myanmar
option(value="namibia") Namibia
option(value="nauru") Nauru
option(value="nepal") Nepal
option(value="netherlands") Netherlands
option(value="new caledonia") New Caledonia
option(value="new zealand") New Zealand
option(value="nicaragua") Nicaragua
option(value="niger") Niger
option(value="nigeria") Nigeria
option(value="niue") Niue
option(value="norfolk island") Norfolk Island
option(value="northern mariana islands") Northern Mariana Islands
option(value="norway") Norway
option(value="oman") Oman
option(value="pakistan") Pakistan
option(value="palau") Palau
option(value="palestine") Palestine
option(value="panama") Panama
option(value="papua new guinea") Papua New Guinea
option(value="paraguay") Paraguay
option(value="peru") Peru
option(value="philippines") Philippines
option(value="pitcairn") Pitcairn
option(value="poland") Poland
option(value="portugal") Portugal
option(value="puerto rico") Puerto Rico
option(value="qatar") Qatar
option(value="réunion") Réunion
option(value="romania") Romania
option(value="russian federation") Russian Federation
option(value="rwanda") Rwanda
option(value="saint barthélemy") Saint Barthélemy
option(value="saint helena, ascension and tristan da cunha") 
option(value="saint kitts and nevis") Saint Kitts and Nevis
option(value="saint lucia") Saint Lucia
option(value="saint martin (french part)") Saint Martin (French part)
option(value="saint pierre and miquelon") Saint Pierre and Miquelon
option(value="saint vincent and the grenadines") Saint Vincent and the Grenadines
option(value="samoa") Samoa
option(value="san marino") San Marino
option(value="sao tome and principe") Sao Tome and Principe
option(value="saudi arabia") Saudi Arabia
option(value="senegal") Senegal
option(value="serbia") Serbia
option(value="seychelles") Seychelles
option(value="sierra leone") Sierra Leone
option(value="singapore") Singapore
option(value="sint maarten (dutch part)") Sint Maarten (Dutch part)
option(value="slovakia") Slovakia
option(value="slovenia") Slovenia
option(value="solomon islands") Solomon Islands
option(value="somalia") Somalia
option(value="south africa") South Africa
option(value="south georgia and the south sandwich islands") South Georgia and the South Sandwich Islands
option(value="south sudan") South Sudan
option(value="spain") Spain
option(value="sri lanka") Sri Lanka
option(value="sudan") Sudan
option(value="suriname") Suriname
option(value="svalbard and jan mayen") Svalbard and Jan Mayen
option(value="swaziland") Swaziland
option(value="sweden") Sweden
option(value="switzerland") Switzerland
option(value="syrian arab republic") Syrian Arab Republic
option(value="taiwan") Taiwan
option(value="tajikistan") Tajikistan
option(value="tanzania") Tanzania
option(value="thailand") Thailand
option(value="timor-leste") Timor-Leste
option(value="togo") Togo
option(value="tokelau") Tokelau
option(value="tonga") Tonga
option(value="trinidad and tobago") Trinidad and Tobago
option(value="tunisia") Tunisia
option(value="turkey") Turkey
option(value="turkmenistan") Turkmenistan
option(value="turks and caicos islands") Turks and Caicos Islands
option(value="tuvalu") Tuvalu
option(value="uganda") Uganda
option(value="ukraine") Ukraine
option(value="united arab emirates") United Arab Emirates
option(value="united kingdom") United Kingdom
option(value="united states") United States
option(value="united states minor outlying islands") United States Minor Outlying Islands
option(value="uruguay") Uruguay
option(value="uzbekistan") Uzbekistan
option(value="vanuatu") Vanuatu
option(value="venezuela") Venezuela
option(value="vietnam") Vietnam
option(value="virgin islands, british") British Virgin Islands
option(value="virgin islands, u.s.") US Virgin Islands
option(value="wallis and futuna") Wallis and Futuna
option(value="western sahara") Western Sahara
option(value="yemen") Yemen
option(value="zambia") Zambia
option(value="zimbabwe") Zimbabwe
