+section("Pill")
  button.pill Pill button
  button.pill Pill button <span class="icon-close"></span>
  button.pill Pill button <span class="icon-audio"></span>
  button.pill Pill button <span class="icon-chevron"></span>