@function toInt($value) {
  @return $value * 1;
}

$multiple: 4;
@for $size from 1 through 64  {
  $size: $size * $multiple;

  .flag-w#{$size} {
    width: rem-calc($size);
    height: rem-calc($size);
  }

  .medium-flag-w#{$size} {
    @include breakpoint(medium) {
      width: rem-calc($size);
      height: rem-calc($size);
    }
  }

  .large-flag-w#{$size} {
    @include breakpoint(large) {
      width: rem-calc($size);
      height: rem-calc($size);
    }
  }
}